{% extends "layout.html" %}
{% block content %}
  <h1>My Blogs</h1>
  <a class="btn btn-primary" href="{{ url_for('create_blog') }}" role="button">Create Blog</a>
  <hr>
  {% for post in posts %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">By {{ post.author.username }} : {{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a class="btn btn-secondary" href="{{ url_for('update_blog', blog_id=post.id) }}" role="button">Update</a>
        <form action="{{ url_for('delete_blog', blog_id=post.id) }}" method="post" class="d-inline">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <p>
          <a href="{{ url_for('like', blog_id=post.id) }}">
            <img src="{{ url_for('static', filename='images/' + 'like.png') }}" alt="Like" width="30" height="30">
          </a>
          {{ post.likes.filter_by(like=True).count() }}
          <a href="{{ url_for('dislike', blog_id=post.id) }}">
            <img src="{{ url_for('static', filename='images/' + 'dislike.png') }}" alt="Like" width="30" height="30">
          </a>
          {{ post.likes.filter_by(dislike=True).count() }}
          <a  href="{{ url_for('view_blog', blog_id=post.id) }}">
            <img src="{{ url_for('static', filename='images/' + 'comment.png') }}" alt="comment" width="30" height="30">
          </a>
      </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}

